    body {
        background-color: #B14806;
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        font-size: 62.5%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-shadow: 0.3px 0.3px 0.2px #000;
    }
    
    header img {
        width: 95%;
        align-items: center;
        display: block;
        margin: 0 auto;
        margin-top: 3%;
    }
    
    header h1 {
        color: #F4E04D;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        margin-top: -15%;
        margin-bottom: 60px;
    }
    
    .Parte01 {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    
    #titulo-cardapio {
        font-weight: 900;
        font-size: 1.3rem;
        color: #EFF7FF;
        text-align: center;
    }
    
    .topo-descricao {
        background-color: #F4E04D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 5%;
    }
    
    .topo-descricao-salada {
        background-color: #F4E04D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 5%;
    }
    
    .topo-descricao h2 {
        color: #231123;
        font-size: 1.2rem;
    }
    
    .topo-descricao-salada h2 {
        color: #231123;
        font-size: 1.1rem;
    }
    
    .nomes-produtos-bebidas h3,
    .precos h3 {
        color: #231123;
        font-weight: 800;
        font-size: 1.1rem;
        margin: 10px 5px;
    }
    
    .precos-redbull h3 {
        color: #EFF7FF;
        font-weight: 800;
        font-size: 1.1rem;
        margin: 10px 5px;
        padding: 1% 5% 0% 0%;
    }
    
    .precos,
    .precos-redbull {
        background-color: #B14806;
        border-radius: 10px;
    }
    /* #preco-bebidas {
        margin-top: 1px;
    } */
    
    .fundo-branco {
        background-color: #EFF7FF;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
    }
    
    .energia-extra {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .energia-extra h3 {
        color: #EFF7FF;
        font-size: 1.2rem;
    }
    
    .fundo-roxo {
        background-color: #231123;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
        padding: 4% 5% 3% 5%;
    }
    
    .precos-redbull img {
        align-items: center;
    }
    /* .precos-redbull {} */
    
    .nomes-produtos-redbull h3 {
        color: #EFF7FF;
        font-weight: 800;
        font-size: 152%;
        margin: 12px 5px;
    }
    
    #bolas {
        padding-left: 10px;
    }
    
    .Parte02 {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    
    .copos h5 {
        color: #B14806;
        font-weight: 800;
        font-size: 155%;
        margin: 12px 5px;
        padding: 2.5px 0px;
    }
    
    .copos h5>span {
        color: #231123;
        font-weight: 800;
    }
    
    #preco1 {
        padding-top: 5px;
    }
    
    #preco2 {
        padding-bottom: 5px;
    }
    
    footer {
        background-color: #C5D86D;
    }
    
    footer h6 {
        text-align: center;
        font-size: 150%;
        margin: 20px 0px 0px 0px;
        padding: 15px 0px;
    }
    
    footer h6 a {
        text-decoration: none;
        color: #231123;
        text-shadow: 0.5px 0.5px 0.5px#fff;
    }
    
    .texto-imagem {
        display: flex;
        align-items: center;
    }
    
    #img-banana {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    
    #lata {
        margin-left: -5px;
    }