    @font-face {
        font-family: 'HighVoltage';
        src: url('../HighVoltage Rough.ttf') format('truetype');
        font-style: normal;
    }
    
    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
    }
    
    body {
        background-image: linear-gradient(#B14806 15%, #361532 105%);
        margin: 0 auto;
        padding: 0;
        font-family: 'Inter', sans-serif;
        max-width: 1360px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-shadow: 0.3px 0.3px 0.2px #000;
    }
    
    header {
        width: 95%;
        margin: 0 auto;
        position: fixed;
        z-index: 2;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    header img {
        width: 100%;
        align-items: center;
        margin: 0 auto;
        margin-top: -150px;
        height: 80px;
        max-width: 1360px;
        border-radius: 20px 0px 20px 0px;
    }
    
    header h1 {
        font-family: 'HighVoltage';
        color: #F4E04D;
        font-weight: 700;
        font-size: 4.0rem;
        text-align: center;
        text-shadow: 1px 1px 0.5px #000;
        position: absolute;
        top: -35px;
        left: 670px;
        letter-spacing: 0.1em;
        margin: 0;
        right: -50%;
        transform: translate(-50%, -50%)
    }
    
    @media (min-width:820px) and (max-width:1400px) {
        header h1 {
            left: 52%;
        }
    }
    
    @media (min-width:769px) and (max-width:819px) {
        header h1 {
            left: 54%;
        }
    }
    
    #toggle {
        display: none;
    }
    
    .nav {
        border-radius: 4px;
        padding: 5px;
        margin-top: 100px;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    nav ul a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
    }
    
    nav ul a:hover,
    nav ul a:focus {
        color: #231123;
    }
    
    @media(min-width:280px) and (max-width:768px) {
        header {
            width: 95%;
            margin: 0 auto;
            position: fixed;
            z-index: 2;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        header img {
            width: 100%;
            align-items: center;
            margin: 0 auto;
            margin-top: 3%;
            height: 80px;
            max-width: 1360px;
            border-radius: 20px 0px 20px 0px;
        }
        header h1 {
            font-family: 'HighVoltage';
            color: #F4E04D;
            font-weight: 700;
            font-size: 4.0rem;
            text-align: center;
            text-shadow: 1px 1px 0.5px #000;
            position: absolute;
            top: 65%;
            left: 37%;
            letter-spacing: 0.1em;
            margin: 0;
            right: -50%;
            transform: translate(-50%, -50%)
        }
        @media (min-width:280px) and (max-width:334px) {
            header h1 {
                top: 50%;
                left: 50%;
                font-size: 3.0rem;
            }
        }
        @media (min-width:335px) and (max-width:768px) {
            header h1 {
                top: 50%;
                left: 50%;
                font-size: 3.5rem;
            }
        }
        .container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        #toggle {
            display: none;
        }
        .button {
            position: absolute;
            z-index: 1;
            width: 43px;
            height: 43px;
            background: #fff;
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 11rem;
            box-shadow: 1.8px 1px#000;
        }
        .button:before {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            background: #000;
            transform: rotate(225deg);
            transition: all 0.6s ease;
        }
        .button:after {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            background: #000;
            transition: all 0.6s ease;
            transform: rotate(135deg);
        }
        .nav {
            opacity: 1;
            transition: all 0.5s ease-in-out;
            background: rgba(255, 255, 255, 0.95);
            width: 90%;
            border-radius: 10px;
            transform: translateY(0%);
            box-shadow: 2px 3px 10px #000;
            border: 1px solid rgba(15, 15, 15, 0.755);
            padding: 10px;
            margin-top: 130px;
        }
        .nav ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        .nav a {
            text-align: center;
            margin: 20px 0;
            color: #000;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.6rem;
            scroll-behavior: smooth;
        }
        .nav a:hover {
            color: #666;
        }
        #toggle:checked~.nav {
            opacity: 0;
            transform: translateY(10%);
        }
        #toggle:checked~.button:before {
            transform: rotate(180deg);
        }
        #toggle:checked~.button:after {
            transform: rotate(-90deg);
        }
    }
    /* __________________PARTE01 - BEBIDAS_______________________ */
    
    .Parte01,
    .Parte02,
    .Parte04,
    .Parte06,
    .Parte07,
    .Parte08,
    .Parte05,
    .Parte03,
    .Parte09,
    .Parte10 {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    /* ____________________________FUNDOS______________________________ */
    
    .fundo-pastel {
        background-color: #FFE4C4;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
        justify-content: space-between;
    }
    
    .fundo-pastel-grid {
        background-color: #FFE4C4;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        align-items: center;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
        grid-gap: 10px;
    }
    
    .fundo-pastel-grid-3 {
        background-color: #FFE4C4;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 0.2fr 0.2fr;
        align-items: center;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
        grid-gap: 10px;
    }
    
    .fundo-branco-grid {
        background-color: #EFF7FF;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        align-items: center;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
        grid-gap: 10px;
    }
    
    .fundo-roxo {
        background-color: #231123;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
        align-items: center;
        grid-gap: 10px;
    }
    
    .fundo-verde {
        background-color: #C5D86D;
        border-radius: 10px;
        display: flex;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
        align-items: center;
        justify-content: space-between;
    }
    
    .fundo-verde-grid {
        background-color: #C5D86D;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
        align-items: center;
        grid-gap: 10px;
    }
    
    .fundo-rosa {
        background-color: #EBC9EA;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 0.2fr 0.2fr;
        margin-top: -10px;
        padding: 3% 5% 3% 5%;
        align-items: center;
        grid-gap: 10px;
    }
    
    .fundo-branco-grid h5 {
        font-size: 1.4rem;
        font-style: normal;
        color: rgb(224, 17, 17);
    }
    
    .fundo-branco h6 {
        color: #231123;
        font-size: 1.5rem;
        margin: 0;
    }
    /* ___________________________TOPOS_________________________ */
    
    .topo-descricao {
        background-color: #F4E04D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 5%;
        margin-top: 5%;
    }
    
    .topo-descricao h2 {
        color: #231123;
        font-size: 1.6rem;
    }
    
    .topo-descricao-salada {
        background-color: #F4E04D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 3%;
        margin-top: 5%;
    }
    
    .topo-descricao-salada h2 {
        color: #231123;
        font-size: 1.6rem;
    }
    
    .topo-descricao-acai {
        background-color: #C5D86D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 5%;
        margin-top: 5%;
    }
    
    .topo-descricao-acai h2 {
        color: #231123;
        font-size: 1.6rem;
    }
    /* __________________NOMES PRODUTOS_______________ */
    
    .nomes-produtos h3 {
        color: #231123;
        font-weight: 800;
        font-size: 1.8rem;
        margin: 15px 0px;
    }
    
    .nomes-produtos p {
        color: #4682B4;
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 1%;
        margin-top: 0;
    }
    
    .nomes-produtos-redbull h3 {
        color: #EFF7FF;
        font-weight: 800;
        font-size: 1.8rem;
        margin: 15px 5px;
    }
    
    .nomes-produtos-sucos h3 {
        color: #231123;
        font-weight: 800;
        font-size: 1.8rem;
        margin: 9% 1%;
    }
    
    .nomes-produtos-especiais h3 {
        color: #231123;
        font-weight: 800;
        font-size: 1.8rem;
        margin: 5% 0px;
    }
    
    .nomes-produtos-especiais p {
        color: #4682B4;
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 1%;
        margin-top: 0;
    }
    
    .copos h5 {
        color: #B14806;
        font-weight: 800;
        font-size: 1.6rem;
        margin: 12px 5px;
        padding: 2.5px 0px;
    }
    
    .copos h5>span {
        color: #231123;
        font-weight: 800;
    }
    /* __________________PREÇOS_______________ */
    
    .precos-comum {
        background-color: #B14806;
        border-radius: 10px;
    }
    
    .precos-comum h3 {
        color: #EFF7FF;
        font-weight: 800;
        font-size: 1.9rem;
        margin: 30% 5px;
    }
    
    .precos-promocao {
        background-color: #B14806;
        border-radius: 10px;
    }
    
    .precos-promocao h3 {
        color: #EFF7FF;
        font-weight: 800;
        font-size: 1.9rem;
        margin: 66% 5px;
    }
    
    .precos {
        background-color: #B14806;
        border-radius: 10px;
    }
    
    .precos h3 {
        color: #EFF7FF;
        font-weight: 800;
        font-size: 1.9rem;
        margin: 15px 5px;
        text-align: center;
    }
    
    .precos-redbull img {
        align-items: center;
    }
    
    #preco1 {
        padding-top: 10px;
    }
    
    #preco2 {
        padding-bottom: 10px;
    }
    
    #preco-margin1 {
        margin-top: 10px;
    }
    
    #preco-margin2 {
        margin-bottom: 10px;
    }
    
    .precos-acai h3 {
        color: #231123;
        font-weight: 700;
        font-size: 1.9rem;
        margin: 12px 5px;
    }
    
    .precos-acai {
        background-color: #C5D86D;
        border-radius: 10px;
        text-align: center;
    }
    /* ______________________FUNCIONALIDADES e TITULOS______________________ */
    
    #titulo-cardapio {
        font-family: 'HighVoltage';
        font-weight: 900;
        font-size: 2.8rem;
        color: #EFF7FF;
        text-align: center;
        letter-spacing: 0.2em;
        margin-top: 50px;
        text-shadow: 1px 1px 0.5px #000;
    }
    
    @media (min-width:300px) and (max-width:768px) {
        #titulo-cardapio {
            font-family: 'HighVoltage';
            font-weight: 900;
            font-size: 2.8rem;
            color: #EFF7FF;
            text-align: center;
            letter-spacing: 0.2em;
            margin-top: -450px;
            text-shadow: 1px 1px 0.5px #000;
        }
    }
    
    .titulos-caixas {
        text-align: center;
        color: #EFF7FF;
        font-size: 2.0rem;
        text-shadow: 1px 1px 0.5px #000;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    
    .grid h6 {
        color: #361532;
        font-weight: 800;
        font-size: 1.5rem;
        margin: 12px 5px;
    }
    
    .volume h3 {
        color: #EFF7FF;
        font-weight: 800;
        font-size: 1.5rem;
        margin: 0;
        text-align: center;
    }
    
    #suco-laranja {
        margin-top: 25%;
    }
    
    #suco-de-acai {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3% 5% 3% 5%;
    }
    
    .ml h6 {
        margin: 0;
        text-align: center;
    }
    
    .ml h3 {
        font-size: 1.5rem;
        color: #231123;
        margin: 0;
        text-align: center;
    }
    
    .texto-imagem {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    
    .flex {
        display: flex;
        align-items: center;
    }
    /* ________FOOTER___________ */
    
    footer {
        background-color: #C5D86D;
        padding: 20px;
    }
    
    footer a {
        text-decoration: none;
        color: #231123;
        text-shadow: 0.5px 0.5px 0.5px#fff;
        font-size: 1.3rem;
        cursor: pointer;
        font-weight: 700;
    }